body
{
	/*background-color*/
}
#titolo
{
	position: absolute;
	top: -40;
	left: 250;
}
#luogoData
{
	text-align: right;
}
#numero
{
	text-align: left;
}
#dirigente
{
	text-align: center;
	margin: 5px 50px 5px 50px;
	padding-left:1000px;
}